@charset "UTF-8";

html {
    height: 100%;
}

body {
    position: relative;
    height: 100%;
}

/* #myPopoverContainer {
    position: relative;
    transform: rotate(10deg)
} */

/* #myPopover {
    position: relative;
    transform: rotate(80deg)
} */

#zIndexInfinity {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    pointer-events: none;
    z-index: calc(infinity);
}

#zIndexInfinityCenter {
    /* display: inline-block; */
    position: fixed;
    width: 200px;
    height: 150px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    z-index: calc(infinity);
    background-color: green;
    color:white;
}
