html {
    background-color: #ff7f7f;
}

body {
    background-color: #7fff7f;
    margin: 0;
}

#root {
    background-color: #7f7fff;
    height: 100%;
}

#title {
    position: fixed;
    top: 20px;
    left: 20px;
    background-color: #ffffff;
}

#top_left {
    position: absolute;
    top: 0;
    left: 0;
    width: 10px;
    height: 10px;
    background-color: #ff0000;
}

#top_right {
    position: absolute;
    top: 0;
    right: 0;
    width: 10px;
    height: 10px;
    background-color: #ff0000;
}

#bottom_left {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 10px;
    height: 10px;
    background-color: #ff0000;
}

#bottom_right {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 10px;
    height: 10px;
    background-color: #ff0000;
}

#ua {
    position: fixed;
    bottom: 12px;
    right: 12px;
    background-color: #ffffff;
}
