.form-label {
    display: inline-block;
    width: 20em;
}

.form-data {
    display: inline-block;
}

#appliedFeaturesText_div {
    width: 100%;
}

#appliedFeaturesText {
    width: 100%;
}

#featuresText_div {
    width: 100%;
}

#featuresText {
    width: 100%;
}
