@charset "UTF-8";

html {
    height: 100%;
    background-color: red;
}

body {
    padding: 0;
    margin: 0;
    height: 100%;
    font-size: 0;
    /* position: relative; */
    background-color: green;
}

#box1 {
/*    position: absolute; */
/*    left: 0; */
/*    top: 0; */
    width: 100%;
    height: 100%;
    background-color: aqua;
}

#box2 {
    position: absolute;
    left: 10px;
    top: 10px;
    height: 20%;
    width: 50%;
    font-size: 12pt;
    background-color: white;
}
