<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>Window size properties</title>
<meta name="viewport" content="width=device-width" />
<link rel="stylesheet" href="index_vertical.css" media="(max-width: 480px)"/>
<link rel="stylesheet" href="index.css" media="(min-width: 480px)"/>
<script src="index.js" defer></script>
</head>
<body>
<div class="field_block">
<div class="field"><div class="field_title">window.parent.screen.width</div><div class="field_value field_number" id="window_parent_screen_width"></div></div>
<div class="field"><div class="field_title">window.parent.screen.height</div><div class="field_value field_number" id="window_parent_screen_height"></div></div>
<div class="field"><div class="field_title">window.screen.width</div><div class="field_value field_number" id="window_screen_width"></div></div>
<div class="field"><div class="field_title">window.screen.height</div><div class="field_value field_number" id="window_screen_height"></div></div>
<div class="field"><div class="field_title">window.screen.availWidth</div><div class="field_value field_number" id="window_screen_availWidth"></div></div>
<div class="field"><div class="field_title">window.screen.availHeight</div><div class="field_value field_number" id="window_screen_availHeight"></div></div>
<div class="field"><div class="field_title">window.screen.colorDepth</div><div class="field_value field_number" id="window_screen_colorDepth"></div></div>
<div class="field"><div class="field_title">window.screen.pixelDepth</div><div class="field_value field_number" id="window_screen_pixelDepth"></div></div>
<div class="field"><div class="field_title">window.screenX</div><div class="field_value field_number" id="window_screenX"></div></div>
<div class="field"><div class="field_title">window.screenY</div><div class="field_value field_number" id="window_screenY"></div></div>
<div class="field"><div class="field_title">window.innerWidth</div><div class="field_value field_number" id="window_innerWidth"></div></div>
<div class="field"><div class="field_title">window.innerHeight</div><div class="field_value field_number" id="window_innerHeight"></div></div>
<div class="field"><div class="field_title">window.outerWidth</div><div class="field_value field_number" id="window_outerWidth"></div></div>
<div class="field"><div class="field_title">window.outerHeight</div><div class="field_value field_number" id="window_outerHeight"></div></div>
<div class="field"><div class="field_title">document.documentElement.clientWidth</div><div class="field_value field_number" id="document_documentElement_clientWidth"></div></div>
<div class="field"><div class="field_title">document.documentElement.clientHeight</div><div class="field_value field_number" id="document_documentElement_clientHeight"></div></div>
<div class="field"><div class="field_title">document.body.clientWidth</div><div class="field_value field_number" id="document_body_clientWidth"></div></div>
<div class="field"><div class="field_title">document.body.clientHeight</div><div class="field_value field_number" id="document_body_clientHeight"></div></div>
</div>
</body>
</html>
