html {
    background-color: lightgray;
}

#myflexbox {
    display: flex;
    height: 300px;
    background-color: white;
    /* overflow: auto; */
    flex-direction: column;
    flex-wrap : wrap;
    justify-content: flex-start;
    align-content: flex-start;
}

.myflexitem {
    resize: both;
}
