html {
    height: 100%;
    background-color: red;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: green;
    font-size: 0;
}

svg {
    margin: 0;
    padding: 0;
    background-color: aqua;
}
